.contactWrapper {
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
}

.contactEdit,
.userForm,
.contactInfo {
    width: 80%;
    display: flex;
    gap: 50px;
    background-color: rgba(84, 84, 84, 0.303);
    text-transform: capitalize;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
}

.contactEdit {
    font-size: 1rem;
    width: 3%;
    margin-left: 75%;
}

.contactInfo .avatar {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}


.userForm {
    color: white;
    font-size: 1rem;
}