@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;900&display=swap');

:root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: 'Poppins',
    sans-serif;
  ;
}

body {
  width: 100%;
}